/******************************************************************************
  Copy this file in local environment to "env.js"
  This file is used as a way to load your environment variables and secret
  from GCP's Secret Manager, from Cloud Run!

  If you prefer reading from  environment variables, you can also replace the
  following codewith `process.env.SOME_VAR` references
******************************************************************************/

module.exports = {
  GOOGLE_CLOUD_PROJECT: 'my-project-id',
  GOOGLE_CLOUD_PROJECT_NUMBER: '0123456789',
  GOOGLE_CLOUD_LOCATION: 'us-central1',
  GEMINI_MODEL: 'gemini-1.5-flash-001',
  GCP_VERTEXAI_SEARCH_ENGINE_ID: 'some-id-from-vertex-ai-builder',
  GCP_VERTEXAI_SEARCH_LOCATION: 'global',
  PORT: 8080,
};
