/******************************************************************************
  Copy this file in local environment to "env.js"
  This file is used as a way to load your environment variables and secret
  from GCP's Secret Manager, from Cloud Run!

  If you prefer reading from  environment variables, you can also replace the
  following codewith `process.env.SOME_VAR` references
******************************************************************************/

module.exports = {
  GCP_PROJECT_ID: 'my-project-id',
  GCP_PROJECT_ID_NUMBER: '0123456789',
  GCP_REGION: 'us-central1',
  GCP_GEMINI_VER: 'gemini-1.5-flash-001',
  GCP_VERTEXAI_SEARCH_ENGINE_ID: 'some-id-from-vertex-ai-builder',
  GCP_VERTEXAI_SEARCH_LOCATION: 'global',
  PORT: 8080,
};
